.buscar{
  background-color:#ffff  ;
  font-weight: bold;

  margin-left: 5px;
  margin:auto;
  

}

#buscador, .buscar{
-webkit-box-shadow: 0px 10px 16px -1px rgba(181,174,181,1);
-moz-box-shadow: 0px 10px 16px -1px rgba(181,174,181,1);
box-shadow: 0px 10px 16px -1px rgba(181,174,181,1);
width: 100%
}

div{
  height:100%;
  width: 100%;
}
.card{
  margin-top: 30px;
  
}


.titulo{
text-align: center;
font-weight: bold;
font-size: 18px;

}

.card-header{
  background-color: white;
  border: none;
}

 #texto{
      padding: 10px;
   font-weight: bold;
   text-align: center;
   font-size: 18pt;
 }

 footer{
   visibility:hidden;
 }

 .contenido{
   text-align: center;

 }
.contenido > p{
  word-spacing:-2px;
  letter-spacing: 0px ;
  text-align: justify;
  white-space: normal;
}

.contenido >p:before{
  content:'\"';
}
.contenido >p:after{
  content:'\"';
}
.fecha{
  font-style: oblique;
}